
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    background-color: #121416;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-box {
    width: 100%;
    max-width: 380px;
    padding: 40px 30px;
    background-color: #1b1d1f;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .login-box img {
    width: 95px;
    height: 90px;
    margin-bottom: 5px;
  }
  
  .login-box p {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .login-box h1 {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 32px;
    font-family: 'Sifonn-Pro', sans-serif;
      
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box i {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
  }

  .logo-font {
    font-family: 'Sifonn-Pro', sans-serif;
    font-size: 20px; /* ajuste conforme preferir */
  }
  
  .input-box input {
    width: 100%;
    padding: 12px 16px 12px 44px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #1b1d1f;
    color: #fff;
    font-size: 14px;
    transition: border 0.3s ease;
  }
  
  .input-box input:focus {
    outline: none;
    border-color: #00ffcc;
  }
  
  .input-box input::placeholder {
    color: #aaa;
  }
  
  .btn-login {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(45deg, #1be75e, #0f64e7);
    color: #fff;
    cursor: pointer;
    transition: background 5s ease;
  }
  
  .btn-login:hover {
    background: linear-gradient( 90deg, #1be75e, #0f64e7);
    transition: 5s;
  }
  